@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
	font-family: "Gmarket_L";
	src: url("./font/GmarketSansLight.otf");
}
@font-face {
	font-family: "Gmarket_M";
	src: url("./font/GmarketSansMedium.otf");
}
@font-face {
	font-family: "Gmarket_B";
	src: url("./font/GmarketSansBold.otf");
}
@font-face {
	font-family: "Pretend_M";
	src: url("./font/Pretendard-Medium.otf");
}
@font-face {
	font-family: "Pretend_B";
	src: url("./font/Pretendard-Bold.otf");
}
@font-face {
	font-family: "Tmon_M";
	src: url("./font/TmonMonsori.otf");
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #fff;
	font-family: "NexonLv1Gothic";
	font-weight: 300;
}
#main {
}
#main .section1 {
	width: 100vw;
	height: 100vh;
	background: url("./img/mainimg01.jpg") no-repeat;
	background-attachment: fixed;
}

#main .section1 .textbox {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
}
#main .section1 .textbox .title {
	font: 6.7vw/1.2 "Pretend_B", sans-serif;
	letter-spacing: -2px;
	text-transform: uppercase;
	position: absolute;
	top: 320px;
	left: 220px;
}
#main .section1 .textbox h2 {
	position: absolute;
	top: 630px;
	left: 220px;
	font: 1vw/1.8 "Gmarket_L", sans-serif;
}

#main .section2 {
	width: 100vw;
	height: 100vh;
}
.section2 {
	width: 100vw;
	height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background: #252424;
}
.section2 .sect2_txt {
	width: 1700px;
	/* height: 100vh; */
	position: absolute;
	top: 130px;
	left: 160px;
	font-family: "Pretend_B";
	font-size: 2vw;
	text-align: left;
	animation: slide 1s linear;
}
.section2 .sect2_txt .text_t1 {
	font-family: "Pretend_B";
	font-size: 4vw;
	line-height: 1.1;
	text-transform: uppercase;
}

.section2 .text_t2 {
	position: absolute;
	top: 225px;
	left: 160px;
	font-size: 1.7vw;
	color: #ececec;
	animation: slide 1.2s linear;
}
@keyframes slide {
	from {
		left: -500px;
		opacity: 0;
	}
	to {
		left: 160px;
		opacity: 1;
	}
}

@keyframes disappear {
	from {
		left: 160px;
		opacity: 1;
	}
	to {
		left: -500px;
		opacity: 0;
	}
}

.section2 .profile_img1 {
	width: 430px;
	height: 450px;
	position: absolute;
	top: 230px;
	right: 150px;
	animation: fade 1.5s ease-out;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.section2 ul {
	width: 1700px;
	font-size: 0.9vw;
	line-height: 2;
	color: #fff;
	position: absolute;
	top: 280px;
	left: 160px;
	animation: slide2 1.4s linear;
}
.section2 ul li {
	width: 800px;
	text-align: left;
}
@keyframes slide2 {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 160px;
		opacity: 1;
	}
}
@keyframes disappear2 {
	from {
		left: 160px;
		opacity: 1;
	}
	to {
		left: -300px;
		opacity: 0;
	}
}

.section3 {
	width: 100vw;
	height: 100vw;
}
.section3 .inner {
	width: 100%;
	height: 1500px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.section3 .inner .wrap {
	background: #252424;
	position: relative;
}
.section3 .inner .wrap .img1 {
	width: 800px;
	height: 550px;
	margin: 0 auto;
}

.section3 .inner .wrap .text {
	font-family: "Gmarket_M";
	font-size: 1vw;
	text-transform: uppercase;
	color: #efebeb;
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, 0);
}
.section3 .inner .wrap .text span {
	text-align: center;
	padding: 0 20px;
}
.section3 .inner .wrap .text span:hover {
	transform: scale(1.1);
	transition: 0.3s ease-out;
	text-shadow: 3px 3px 10px #e7e7e7;
}
.section3 .inner .question {
	width: 100%;
	height: 870px;
	background: #252424;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
}
.section3 .inner .question .text_box {
	width: 1300px;
	height: 650px;
	margin: 0 auto;
	padding-top: 130px;
	background: #252424;
}
.section3 .inner .question .text_box .Q_box1 {
	width: 1300px;
	height: 161px;
	background: #353535;
	border-radius: 7px;
}
.section3 .inner .question .text_box .Q_box1 .title {
	font-family: "Pretend_M";
	font-size: 23px;
	color: #efebeb;
	padding: 25px 0 27px 25px;
}
.section3 .inner .question .text_box .Q_box1 p {
	font-family: "Pretend_R";
	font-size: 18px;
	line-height: 30px;
	padding-left: 25px;
}

.section3 .inner .question .text_box .Q_box2 {
	width: 1300px;
	height: 161px;
	background: #353535;
	border-radius: 7px;
	margin: 45px 0;
}
.section3 .inner .question .text_box .Q_box2 .title {
	font-family: "Pretend_M";
	font-size: 23px;
	color: #efebeb;
	padding: 25px 0 27px 25px;
}
.section3 .inner .question .text_box .Q_box2 p {
	font-family: "Pretend_R";
	font-size: 18px;
	line-height: 30px;
	padding-left: 25px;
}

.section3 .inner .question .text_box .Q_box3 {
	width: 1300px;
	height: 193px;
	background: #353535;
	border-radius: 7px;
}
.section3 .inner .question .text_box .Q_box3 .title {
	font-family: "Pretend_M";
	font-size: 23px;
	color: #efebeb;
	padding: 25px 0 27px 25px;
}
.section3 .inner .question .text_box .Q_box3 p {
	font-family: "Pretend_R";
	font-size: 18px;
	line-height: 30px;
	padding-left: 25px;
}
.section3 .skill_box {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	background: #252424;
	position: relative;
}
.section3 .skill_box h2 {
	width: 1300px;
	margin: 0 auto;
	font-family: "Pretend_B";
	font-size: 1.9vw;
}
.section3 .skill_box .skill_cont {
	width: 1300px;
	margin: 0 auto;
	padding-top: 50px;
}
.section3 .skill_box .skill_cont img {
	padding-right: 20px;
}

.WebSite {
}

.WebSite .title {
	width: 100vw;
	height: 300px;
	background: #252424;
	position: relative;
}
.WebSite .title h2 {
	position: absolute;
	top: 100px;
	left: 160px;
	font-family: "Gmarket_M";
	font-size: 4.5vw;
	letter-spacing: 7;
	text-transform: uppercase;
	line-height: 1.3;
	opacity: 0;
	transition: all 0.5s;
	transform: rotate(-720deg);
	z-index: 5;
}
.WebSite .section4 {
	width: 100vw;
	height: 100vh;
}
.WebSite .section4 .project {
	width: 100vw;
	height: 100vh;
	position: relative;
	background: #252424;
	display: flex;
	justify-content: center;
}

.section4 .project .project1_text {
	margin-top: 180px;
	margin-right: 70px;
}

.section4 .project .project1_text .num {
	font-family: "Gmarket_M";
	font-size: 3.5vw;
	letter-spacing: 3;
	padding-bottom: 10px;
}

.section4 .project .project1_text h4 {
	font-family: "Gmarket_M";
	font-size: 2.3vw;
	letter-spacing: 2;
}

.section4 .project .project1_text h4:after {
	content: "";
	display: block;
	width: 450px;
	height: 1px;
	background: #707070;
	margin: 20px 0;
}
.section4 .project .project1_text p {
	width: 450px;
	display: flex;
	font-size: 15px;
	line-height: 1.7;
}

.section4 .project .pro_cont {
	margin-top: 190px;
	display: flex;
}
.section4 .project .pro_cont figure {
}
.section4 .project .pro_cont figure img {
}
.section4 .project .pro_cont .view {
	margin-top: 465px;
	margin-left: 20px;
}
.section4 .project .pro_cont .view a {
	font-family: "Pretend_M";
	font-size: 13px;
	color: #fff;
	text-shadow: 3px 3px 10px #fff;
}

.WebSite .section5 {
	width: 100vw;
	height: 100vh;
}

.section5 .project {
	width: 100vw;
	height: 100vh;
	position: absolute;
	justify-content: center;
	display: flex;
	background: #252424;
}
.section5 .project .project2_text {
	margin-top: 180px;
	margin-right: 70px;
}
.section5 .project .project2_text .num {
	font-family: "Gmarket_M";
	font-size: 3.5vw;
	letter-spacing: 3;
	padding-bottom: 10px;
}
.section5 .project .project2_text h4 {
	font-family: "Gmarket_M";
	font-size: 2.3vw;
	letter-spacing: 2;
}

.section5 .project .project2_text h4:after {
	content: "";
	display: block;
	width: 450px;
	height: 1px;
	background: #707070;
	margin: 20px 0;
}

.section5 .project .project2_text p {
	width: 450px;
	display: flex;
	font-size: 15px;
	line-height: 1.7;
}
.section5 .project .pro_cont {
	margin-top: 190px;
	display: flex;
}
.section5 .project .pro_cont figure {
}
.section5 .project .pro_cont figure img {
}
.section5 .project .pro_cont .view {
	margin-top: 465px;
	margin-left: 20px;
}
.section5 .project .pro_cont .view a {
	font-family: "Pretend_M";
	font-size: 13px;
	color: #fff;
	text-shadow: 3px 3px 10px #fff;
}

.section6 {
	width: 100vw;
	height: 100vh;
	background: #000;
}
.section6 .project {
	width: 100vw;
	height: 100vh;
	background: #252424;
	position: relative;
	justify-content: center;
	display: flex;
}
.section6 .project .project3_text {
	margin-top: 180px;
	margin-right: 70px;
}
.section6 .project .project3_text .num {
	font-family: "Gmarket_M";
	font-size: 3.5vw;
	letter-spacing: 3;
	padding-bottom: 10px;
}
.section6 .project .project3_text h4 {
	font-family: "Gmarket_M";
	font-size: 2.3vw;
	letter-spacing: 2;
}
.section6 .project .project3_text h4:after {
	content: "";
	display: block;
	width: 450px;
	height: 1px;
	background: #707070;
	margin: 20px 0;
}
.section6 .project .project3_text p {
	width: 450px;
	display: flex;
	font-size: 15px;
	line-height: 1.6;
}
.section6 .project .pro_cont {
	margin-top: 190px;
	display: flex;
}
.section6 .project .pro_cont figure {
}
.section6 .project .pro_cont figure img {
}
.section6 .project .pro_cont .view {
	margin-top: 465px;
	margin-left: 20px;
}
.section6 .project .pro_cont .view a {
	font-family: "Pretend_M";
	font-size: 13px;
	color: #fff;
	text-shadow: 3px 3px 10px #fff;
}
footer {
}
footer .footer_inner {
	width: 100vw;
	height: 100vh;
	background: url("./img/mainimg01.jpg") no-repeat;
	position: relative;
}
footer .footer_inner .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
footer .footer_inner .text p {
	font-family: "Pretend_M";
	font-size: 70px;
	text-align: center;
}
